@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://kit-pro.fontawesome.com/releases/v6.1.1/css/pro.min.css");
@import url("../../module/css/card.css");
@import url("../../module/css/modal.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
section {
  width: min(96%, 1200px);
  margin: auto;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.title button {
  border: none;
  outline: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}
.title button i {
  padding-left: 10px;
}
.container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (max-width: 950px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
